/* common.css
 *
 * Copyright (C) 2018 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
}

.message {
	color: red;
	font-weight: bolder;
}

.appTitle{
	color: #663300;
}

@media (max-width: 996px) {
	.header-container .languages{
		position:absolute;
		right:5%;
	}	
	.div-appTitle{
		text-align:center;
	}
	.welcome-user{
		text-align:center;
	}
}

.breadcrumb li a:hover{
	text-decoration:none;
}

.breadcrumb li a:active{
	text-decoration:none;
}

.dropdown-menu a:hover{
	background-color: #343a40;
	color: white;
}

.hr-style{ 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #acabab, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #acabab, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #acabab, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #acabab, #f0f0f0); 
}

thead th{
	background-color: #343a40;
	color: #fff;
	border-bottom: 0px;
}

#alert-register{
	position:absolute;
	width:100%;
	margin:0 auto;
	top:0px;
}

.H_ib_body{
	width:30em;
}

.mapLink{
	cursor: pointer;
	z-index:1;
}

#carouselImages{
	width:100%;
}

#carouselImages .carousel-caption{
	background: rgba(0, 0, 0, 0.6);
	width:100%;
	margin:0 auto;
	left:0%;
	rigth:0%;
}

#carouselImages .carousel-indicators{
	margin-bottom:0;
	width:100%;
	margin:0 auto;
}

#carouselImages .carousel-indicators li{
	cursor: default;
}

#carouselImages .carousel-inner{
	width:100%;
	
}

#carouselImages .carousel-item{
	width:100%;
	height:30em;
}

#carouselImages img{
	height:100%;
}

#legendStatus {
  background-color: #343a40;
  color: white;
  padding: 5px 10px;
  font-size:1rem;
  margin-bottom:0px!important;
  font-weight:bold;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#fieldsetParameters {
  background-color: #eeeeee;
}

#fieldsetLegend {
  background-color: #eeeeee;
}

#fieldsetParameters .card-header{
  padding: .5rem!important;
}

#fieldsetParameters span{
  font-size:0.9rem;
  margin-left:1rem;
}

#fieldsetParameters button{
  text-decoration:none;
}

#fieldsetParameters table tr td{
  margin-left:.5rem;
}

#chartImg img{
	border: 1px solid gray;
}



