 .login-body{
 background: url(../images/background-app.jpg) no-repeat center;
}

 /* Form */
.login-form {
  background-color: white;
}

@media (max-width: 996px) {
	.login-form {
	  width: 250px;
	}
}

/* Set a style for all buttons */
button.submit {
  background-color: #6c4023;
  color: white;
  cursor: pointer;
}

/* Add a hover effect for buttons */
button.submit:hover {
  background-color: #d1d1d1;
}

a:hover{
	text-decoration:none;
}

/* Error login container */
.error{
	text-align: center;
	margin-top: 10px;
	font-weight: normal;
}